@import "tailwindcss";

@theme {
  /* Background color */
  --color-page: hsl(220 69% 97%);
  --color-base: #f7f5f2;
  --color-card: #ffffff;

  /* Text colors */
  --color-title: #1a1917;
  --color-body: #3a3935;
  --color-muted: #6b6a65;
  --color-off-white: #faf8f5;

  /* Priority  */
  --color-priority-low: #3b6d11;
  --color-priority-med: #f4720b;
  --color-priority-high: #c0292a;

  /* Status */
  --color-pending: #e08a00;
  --color-progress: #2e86de;
  --color-done: #3b6d11;

  /* Edit button */
  --color-edit: #2e86de;
  --color-edit-hover: #5ba3e8;

  /* Delete button */
  --color-delete: #e63946;
  --color-delete-hover: #ff6b74;

  /* Font families */
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --font-inter: "Inter", sans-serif;
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    background-color: var(--color-page);
    margin: 0;
    padding: 24px;
    font-family: var(--font-inter);
    color: var(--color-body);
    line-height: 1.5;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h2 {
    font-family: var(--font-jakarta);
    color: var(--color-text-title);
    line-height: 1.3;
  }

  button {
    cursor: pointer;
    border: none;
    font-family: var(--font-inter);
  }

  .done {
    @apply line-through text-muted;
  }

  .high-priority {
    @apply text-priority-high;
  }

  .medium-priority {
    @apply text-priority-med;
  }

  .low-priority {
    @apply text-priority-low;
  }

  .status-pending {
    @apply bg-pending text-off-white px-2 py-3 rounded-full font-medium w-30 text-center;
  }

  .status-progress {
    @apply bg-progress text-off-white px-2 py-3 rounded-full text-sm font-medium w-30 text-center;
  }

  .status-done {
    @apply bg-done text-off-white px-2 py-3 text-sm rounded-full font-medium w-30 text-center;
  }

  * {
    outline-offset: 2px;
  }
}
